
$primary-color: #0A0A0E;
$secondary-color: #EA3C7E;
$grey-color: #CDCDCD;

$linear2: linear-gradient(18.35deg, #B3E9FA 21%, #FDE9A3 88%);
$linear3: linear-gradient(90deg, #FFC837 0.02%, #FF8008 124.95%);

 