.share-modal-wrapper {
    &.down-app {
        display: none;
    }
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 9999;
    background: rgba(1, 18, 34, 0.3);
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;

    .share-modal {
        overflow: auto;
        z-index: 100;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        bottom: 0;
        color: black;
        z-index: 4;
        -webkit-animation-name: slideIn;
        -webkit-animation-duration: 0.4s;
        animation-name: slideIn;
        animation-duration: 0.4s;

        .container-share,
        .footer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .container-share {
            flex-direction: column;
            justify-content: flex-start;
            overflow: auto;
            flex-grow: 1;
        }

        .footer {
        }
    }
    /* Add Animation */
    @-webkit-keyframes slideIn {
        from {top: -300px; opacity: 0} 
        to {top: 0; opacity: 1}
    }
    
    @keyframes slideIn {
        from {top: -300px; opacity: 0}
        to {top: 0; opacity: 1}
    }
    
    @-webkit-keyframes fadeIn {
        from {opacity: 0} 
        to {opacity: 1}
    }
    
    @keyframes fadeIn {
        from {opacity: 0} 
        to {opacity: 1}
    }
}
