// background
$bg-page: #22313F;
$bg-start-page: rgba(66, 42, 33, 0.63);
// color
$color-yellow: #FFC800;
$color-black: #22313F;
$color-btn: #422A21;
$border-selected: #2F6BFF;
// background answer
$bg-answer-blue: #DAEAEE;
$bg-answer-pink: #FFDEDB;
$bg-answer-violet: #DCD7E6;
$bg-answer-yellow: #F3EFD4;
$bg-result-pink: #FF9FBF;
