@import 'styles/vi-net/utils';
@import 'styles/vi-net/responsive';

.block-about-us {
  color: #ffffff;
  background: url('../../../public/images/bg-black-about-us.svg') no-repeat;
  background-size: cover;
}
