@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&family=Quicksand:wght@400;500;600;700&display=swap');
@import 'styles/vi-net/responsive';

.body-container {
    font-family: 'Mulish';
    // ảnh hưởng đến component khác
    // font-weight: 400;
    // line-height: 1.5;
    // background-color: #0A0A0E;
    // color: white;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    .main {
        display: flex;
        flex-grow: 1;
        flex: 1 1 0%;
        >:global(div) {
            width: 100%;
        }
    }
}