.bg-modal {
    background: url("../../../../public/images/section0/Frame\ 1.svg") no-repeat;
    background-size: cover;
    justify-content: space-between !important;
}

.close-btn {
    background: rgba(255, 255, 255, 0.5) !important;
    border-radius: 46px;
    padding: 10px;
}
