@import 'styles/vi-net/utils';
@import 'styles/vi-net/responsive';

.blog-home {
    // color: white;
    &.bg {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        background: url("../../public/images/Frame34108mb.svg") no-repeat;
        @include respond-above('lg') {
            background: url("../../public/images/Frame10946dt.svg") no-repeat center;
            background-size: cover;
        }
        background-size: cover;
    }
    .swiper {
      width: 100%;
    }
    
    .swiper-slide {
      width: 295px;
    }
    
    
}



.title-hot{
    padding: 5px 14px 5px;
    position: absolute;
    width: 59px;
    height: 26px;
    left: -8px;
    top: 8px;
    background: #EC3D06;
    border-radius: 22px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFFFFF;
}
.title-new{
    padding: 5px 14px 5px;
    position: absolute;
    width: 59px;
    height: 26px;
    left: -8px;
    top: 8px;
    background: #33BB41;
    border-radius: 22px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.img {
    width: 100%;
    height: 335px;
    border-radius: 12px;
    margin-bottom: 24px;
}

.text-title {
    width: 100%;
    height: 31px;
    font-family: Mulish;
    font-weight: 700;
    font-weight: bold;
    font-size: 22px;
    line-height: 140%;
    color: white;
    margin-bottom: 12px
}

.txt-detail {
width: 100%;
height: 75px;
font-family: Mulish;
font-weight: 400;
font-size: 18px;
line-height: 140%;
color: white;
opacity: 0.6;
}

.txt-day {
width: 295px;
height: 25px;
font-family: Mulish;
font-weight: 700;
font-style: italic;
font-weight: bold;
font-size: 18px;
line-height: 140%;
color: white;
opacity: 0.8;
margin-bottom: 32px;
}

.line {
height: 0px;
border: 1px solid rgba(15, 15, 15, 0.1);
transform: rotate(180deg);
margin-bottom: 32px;
}

.text-vinet {
    width: 100%;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 600;
    // color: 'transparent';
    background: linear-gradient(18.35deg, #B3E9FA 21%, #FDE9A3 88%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .text-lorem {
    margin-right: 3px;
    color: 'transparent';
    background: linear-gradient(18.35deg, #b3e9fa 21%, #fde9a3 88%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .contact-us {
    color: #061d27;
    &.bg {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      background: url('../../public/images/bgContactUs.svg') no-repeat;
      background-size: cover;
    }
  }
  .block-about-us {
    color: #ffffff;
    background: url('../../public/images/bg-black-about-us.svg') no-repeat;
    background-size: cover;
  }
  .sponsor-block {
    background-color: #fafafa;
  }
  .ava-block {
    position: relative;
  }
  .ava-linkedin {
    width: 180px;
  }
  
  .icon-linkedin {
    position: absolute;
    width: 32px;
    top: 5px;
    right: 10px;
    background-color: #ffffff;
  }
  .swiper-block {
    position: relative;
  }
  .swiper-button-next {
    position: absolute;
    top: 35%;
    right: 10%;
    width: 12px;
  }
  .swiper-button-prev {
    position: absolute;
    top: 35%;
    left: 10%;
    width: 12px;
  }

  .text-detail {
    width: 100%;
    height: auto;
    font-family: Mulish;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #ffffff;
    opacity: 0.7;
 }

 .txt-all {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 130%;
    background: linear-gradient(90deg, #FFC837 0.02%, #FF8008 124.95%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

 }


  
